<div class="animated fadeIn container">
    <div class="card w-100">
        <div class="card-header">
            <div class="avatar">
                <img src="https://image.flaticon.com/icons/svg/428/428425.svg">
            </div>
            <div class="name">DatePicker</div>
            <div class="date">To select or input a date.</div>
        </div>
        <div class="card-content p-2">
            <date-picker [(date)]="date"></date-picker>
            {{date}}
        </div>
    </div>
</div>